.ToDo {
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 1px 1px 1px khaki;
}

.ToDo__item {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px khaki;
}

.Button {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
